.*project
.coverage
.coverage.*
.installed.cfg
.mr.developer.cfg
.tox/
.vscode/
*.egg-info
*.log
*.mo
*.py?
*.swp
/.settings
/compiled-doc.rst
/local.cfg
/pyvenv.cfg
bin/
buildout-cache/
develop-eggs/
dist/*
eggs/
etc
htmlcov/
include/
inituser
lib/
lib64
local/
log.html
node_modules/
output.xml
parts/
pip-selfcheck.json
report.html
reports/
test.plone_addon/
var/
venv/
