.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
/local/
/local/*
node_modules/
parts/
src/*
dist/*
test.plone_addon/
var/
# files
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
.vscode/
.tox/
reports/
*.wpr
*.wpu
.*project
.settings
*.log
/venv/
/share
/.idea
*.sublime-*
/.vscode
pip-selfcheck.json
/dist/

# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/collective
/local
