sudo: required
services:
  - docker
env:
  - TEST_FILE=travis-5.1.cfg
  - TEST_FILE=travis-5.0.cfg

language: python
python: 2.7
before_script:
  - sleep 10
install:
  - mkdir -p buildout-cache/{eggs,downloads}
  - pip install flake8==3.7.5
  - python bootstrap.py -c $TEST_FILE
  - bin/buildout -Nc $TEST_FILE
script: bin/test
before_install:
  - docker run -d -e "cluster.name=docker-cluster" -e "ES_JAVA_OPTS=-Xms512m -Xmx512m" -p 9200:9200 docker.elastic.co/elasticsearch/elasticsearch-oss:6.3.0
