language: python
python: 2.7
services:
  - elasticsearch
before_script:
  - sleep 10
install:
  - mkdir -p buildout-cache/{eggs,downloads}
  - python bootstrap.py -c travis.cfg -v 2.2.5 --setuptools-version=9.1
  - bin/buildout -Nc travis.cfg
script: bin/test
before_install:
  - curl -O https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.3.4.deb && sudo dpkg -i --force-confnew elasticsearch-1.3.4.deb
